<!DOCTYPE html>
<html>
<head>
<title>AstraBots Command Center</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="header">
    <h1>ASTRABOTS</h1>
    <p>Autonomous Multi-Agent Coordination System</p>
</div>

<div class="container">

    <div class="left-panel">
        <button onclick="startSimulation()">Start Simulation</button>
        <button onclick="resetSimulation()">Reset</button>

        <h3>Metrics</h3>
        <div id="metrics"></div>
    </div>

    <div class="center-panel">
        <canvas id="grid" width="500" height="500"></canvas>
    </div>

    <div class="right-panel">
        <h3>Live Logs</h3>
        <div id="logs"></div>
    </div>

</div>

<script>
const canvas = document.getElementById("grid");
const ctx = canvas.getContext("2d");

const GRID_SIZE = 8;
const CELL = 60;

function drawGrid() {
    ctx.strokeStyle = "#1e3a8a";
    for (let i = 0; i <= GRID_SIZE; i++) {
        ctx.beginPath();
        ctx.moveTo(i*CELL,0);
        ctx.lineTo(i*CELL,GRID_SIZE*CELL);
        ctx.stroke();

        ctx.beginPath();
        ctx.moveTo(0,i*CELL);
        ctx.lineTo(GRID_SIZE*CELL,i*CELL);
        ctx.stroke();
    }
}

function drawRobots(robots){
    robots.forEach(r=>{
        ctx.beginPath();
        ctx.fillStyle = "#00E5FF";
        ctx.arc(r.x*CELL+30, r.y*CELL+30, 12, 0, Math.PI*2);
        ctx.fill();

        ctx.fillStyle="white";
        ctx.font="12px Arial";
        ctx.fillText("R"+r.id, r.x*CELL+20, r.y*CELL+50);
    });
}

async function fetchState(){
    const res = await fetch("/state");
    const data = await res.json();

    ctx.clearRect(0,0,500,500);
    drawGrid();
    drawRobots(data.robots);

    document.getElementById("logs").innerHTML =
        data.logs.join("<br>");

    document.getElementById("metrics").innerHTML = `
        Conflicts: ${data.metrics.conflicts}<br>
        Tasks Completed: ${data.metrics.total_completed}<br>
        Efficiency: ${data.metrics.efficiency}%<br>
        Runtime: ${data.metrics.duration}s
    `;
}

async function startSimulation(){
    await fetch("/start", {method:"POST"});
}

async function resetSimulation(){
    await fetch("/reset", {method:"POST"});
}

setInterval(fetchState, 200);
fetchState();
</script>

</body>
</html>
